* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content:space-between;
  padding: 15px 30px;
  background-image: url(./images/mohammed-kara-NO9GGNbDFdM-unsplash.jpg);
  color: white;
}

nav a {
  color: white;
  margin-left: 55px; 
  text-decoration: none;
}

/* Hero */
.hero {
  height: 90vh;
  background: #bbc8e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
}

/* Testimonials */
.testimonials {
  padding: 40px;
  text-align: center;
}

.card {
  background: #f2f2f2;
  margin: 15px;
  padding: 20px;
  display: inline-block;
  width: 200px;
}

/* Contact */
.contact {
  padding: 40px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}